@using Microsoft.AspNetCore.Identity

@using Utal.Icc.Sgm.Models
@using static Utal.Icc.Sgm.Models.ApplicationUser
@using Utal.Icc.Sgm.Controllers
@using Utal.Icc.Sgm.Areas.Account.Controllers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="header" class="app-header">
	<div class="mobile-toggler">
		<button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
			<span class="bar"></span>
			<span class="bar"></span>
		</button>
	</div>
	<div class="brand">
		<div class="desktop-toggler">
			<button type="button" class="menu-toggler" data-toggle="sidebar-minify">
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
		</div>
		@this.Html.ActionLink("SGM", nameof(HomeController.Index), nameof(HomeController).Replace("Controller", string.Empty), new { area = string.Empty }, new { @id = "brand", @class = "h3 text-dark" })
	</div>
	<div class="menu d-flex justify-content-end">
		<div class="menu-item dropdown">
			<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
				@if (this.SignInManager.IsSignedIn(this.User)) {
					<div class="menu-img">
						@if (this.User.IsInRole(nameof(Roles.Teacher))) {
							<i class="fa-solid fa-user-tie"></i>
						} else if (this.User.IsInRole(nameof(Roles.Student))) {
							<i class="fa-solid fa fa-user-graduate"></i>
						}
					</div>
					<div class="menu-text">¡Hola @((await this.UserManager.GetUserAsync(this.User))?.FirstName)!</div>
				} else {
					<div class="menu-img">
						<i class="fa-solid fa-fingerprint"></i>
					</div>
					<div class="menu-text">Ingresar</div>
				}
			</a>
			<div class="dropdown-menu dropdown-menu-end me-lg-3">
				@if (this.SignInManager.IsSignedIn(this.User)) {
					<a class="dropdown-item d-flex align-items-center" href="@this.Url.Action(nameof(ProfileController.Index), nameof(ProfileController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })">Mi información <i class="fa fa-user-circle fa-fw ms-auto text-gray-400 f-s-16"></i></a>
					@if (this.User.IsInRole(nameof(Roles.Teacher))) {
						<a class="dropdown-item d-flex align-items-center" href="@this.Url.Action(nameof(ProfileController.Teacher), nameof(ProfileController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })">Mi perfil<i class="fa fa-user-tie fa-fw ms-auto text-gray-400 f-s-16"></i></a>
					}
					@if (this.User.IsInRole(nameof(Roles.Student))) {
						<a class="dropdown-item d-flex align-items-center" href="@this.Url.Action(nameof(ProfileController.Student), nameof(ProfileController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })">Mi perfil <i class="fa fa-user-graduate fa-fw ms-auto text-gray-400 f-s-16"></i></a>
					}
					<a class="dropdown-item d-flex align-items-center" href="@this.Url.Action(nameof(ProfileController.ChangePassword), nameof(ProfileController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })">Contraseña <i class="fa fa-key fa-fw ms-auto text-gray-400 f-s-16"></i></a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item d-flex align-items-center" href="@this.Url.Action(nameof(SignOutController.Index), nameof(SignOutController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })">Cerrar sesión <i class="fa fa-toggle-off fa-fw ms-auto text-gray-400 f-s-16"></i></a>
				} else {
					<a class="dropdown-item d-flex align-items-center" href="@this.Url.Action(nameof(SignInController.Index), nameof(SignInController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })">Iniciar sesión <i class="fa fa-arrow-right-to-bracket fa-fw ms-auto text-gray-400 f-s-16"></i></a>
				}
			</div>
		</div>
	</div>
</div>