@{
	this.ViewData["MainTitle"] = "Sistema de Gestión de Memorias - Ingeniería Civil en Computación - Universidad de Talca";
	this.ViewData["MetaDescription"] = "Sistema de Gestión de Memorias - Ingeniería Civil en Computación - Universidad de Talca";
	this.ViewData["MetaAuthor"] = "Vicente \"vichoste\" Calderón";
	this.ViewData["MetaKeywords"] = "SGM, ICC, UTAL, Ingeniería Civil en Computación, Universidad de Talca, Vicente Calderón, vichoste";
	this.ViewData["AppClass"] = "app-footer-fixed";
}

<!DOCTYPE html>
<html lang="es" @ViewData["HtmlAttribute"]>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - @ViewData["MainTitle"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="@ViewData["MetaDescription"]" />
	<meta name="author" content="@ViewData["MetaAuthor"]" />
	<meta name="keywords" content="@ViewData["MetaKeywords"]" />
	@RenderSection("MetaTag", required: false)
	<link href="~/css/vendor.min.css" rel="stylesheet" />
	<link href="~/css/app.min.css" rel="stylesheet" />
	@RenderSection("Styles", required: false)
</head>
<body class="@ViewData["BodyClass"]">
	<div id="app" class="app @ViewData["AppClass"]">
		@if (ViewData["AppWithoutHeader"] == null) {
			<partial name="_Header" />
		}
		@if (ViewData["AppWithoutSidebar"] == null) {
			<partial name="_Sidebar" />
		}
		@if (ViewData["AppWithoutContainer"] == null) {
			<div id="content" class="app-content @ViewData["AppContentClass"]">
				@RenderBody()
				<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
			</div>
		} else {
			@RenderBody()
			<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		}
		@RenderSection("OutterAppContainerContent", required: false)
		@if (ViewData["AppWithFooter"] == null) {
			<partial name="_Footer" />
		}
		<partial name="_ThemePanel" />
	</div>
	<script>
		window.paceOptions = {
			ajax: { ignoreURLs: ['mainHub', '__browserLink', 'browserLinkSignalR'], trackWebSockets: false }
		};
	</script>
	<script src="~/js/vendor.min.js"></script>
	<script src="~/js/app.min.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>