@using Microsoft.AspNetCore.Identity

@using Utal.Icc.Sgm.Models

@inject UserManager<ApplicationUser> _userManager

@{
	var user = await _userManager.GetUserAsync(this.User);
}

<div id="sidebar" class="app-sidebar">
	<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
		<div class="menu">
			@if (user is null || this.User.Identity!.IsAuthenticated && !user!.IsDeactivated) {
				<div class="menu-header">
					Mis roles y herramientas
				</div>
				@if (this.User.IsInRole("Director")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-university"></i></span>
							<span class="menu-text">Director de carrera</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("Students", "User", new { area = "University" })" class="menu-link">
									<span class="menu-text">Estudiantes</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Teachers", "User", new { area = "University" })" class="menu-link">
									<span class="menu-text">Profesores</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("List", "Request", new { area = "University" })" class="menu-link">
									<span class="menu-text">Solicitudes</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("List", "Course", new { area = "University" })" class="menu-link">
									<span class="menu-text">Cursos</span>
								</a>
							</div>
						</div>
					</div>
				}
				@if (this.User.IsInRole("Committee")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-people-line"></i></span>
							<span class="menu-text">Profesor del comité</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("List", "Request", new { area = "University" })" class="menu-link">
									<span class="menu-text">Solicitudes</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Teachers", "User", new { area = "University" })" class="menu-link">
									<span class="menu-text">Profesores</span>
								</a>
							</div>
						</div>
					</div>
				}
				@if (this.User.IsInRole("Course")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-person-chalkboard"></i></span>
							<span class="menu-text">Profesor del curso</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("List", "Course", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis cursos</span>
								</a>
							</div>
						</div>
					</div>
				}
				@if (this.User.IsInRole("Guide")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-user-tie"></i></span>
							<span class="menu-text">Profesor guía</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("Index", "Proposal", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis propuestas</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("List", "Proposal", new { area = "University" })" class="menu-link">
									<span class="menu-text">Propuestas de estudiantes</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Index", "Request", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis solicitudes</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Students", "Memoir", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis memoristas</span>
								</a>
							</div>
						</div>
					</div>
				}
				@if (this.User.IsInRole("Assistant")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-user-tie"></i></span>
							<span class="menu-text">Profesor co-guía</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("Students", "Memoir", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis memoristas</span>
								</a>
							</div>
						</div>
					</div>
				}
				@if (this.User.IsInRole("Engineer")) {
					<div class="menu-item">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
							<span class="menu-text">Ingeniero Civil en Computación</span>
						</a>
					</div>
				}
				@if (this.User.IsInRole("Completed")) {
					<div class="menu-item">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
							<span class="menu-text">Carrera completada</span>
						</a>
					</div>
				}
				@if (this.User.IsInRole("Memorist")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
							<span class="menu-text">Memorista</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("Index", "Memoir", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mi memoria de título</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Index", "Course", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mi curso</span>
								</a>
							</div>
						</div>
					</div>
				}
				@if (this.User.IsInRole("Student") && !this.User.IsInRole("Memorist")) {
					<div class="menu-item has-sub">
						<a href="#" class="menu-link">
							<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
							<span class="menu-text">Estudiante</span>
							<span class="menu-caret"><b class="caret"></b></span>
						</a>
						<div class="menu-submenu">
							<div class="menu-item">
								<a href="@this.Url.Action("Index", "Proposal", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis propuestas</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("List", "Proposal", new { area = "University" })" class="menu-link">
									<span class="menu-text">Propuestas de profesores guía</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Index", "Request", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis solicitudes</span>
								</a>
							</div>
							<div class="menu-item">
								<a href="@this.Url.Action("Applications", "Proposal", new { area = "University" })" class="menu-link">
									<span class="menu-text">Mis postulaciones</span>
								</a>
							</div>
						</div>
					</div>
				}
			} else {
				<div class="menu-header">
					Debes iniciar sesión para visualizar tus roles y herramientas
				</div>
			}
		</div>
	</div>
	<button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
</div>