@using Utal.Icc.Sgm.Models
@using static Utal.Icc.Sgm.Models.ApplicationUser

<div id="sidebar" class="app-sidebar">
	<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
		<div class="menu">
			@if (this.User.Identity!.IsAuthenticated) {
				<div class="menu-header">
					Mis roles y herramientas
				</div>
			} else {
				<div class="menu-header">
					Debes iniciar sesión para visualizar tus roles y herramientas
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.DirectorTeacher))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-school"></i></span>
						<span class="menu-text">Director de carrera</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action(nameof(Utal.Icc.Sgm.Areas.DirectorTeacher.Controllers.StudentController.Index), nameof(Utal.Icc.Sgm.Areas.DirectorTeacher.Controllers.StudentController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.DirectorTeacher) })" class="menu-link">
								<span class="menu-text">Estudiantes</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action(nameof(Utal.Icc.Sgm.Areas.DirectorTeacher.Controllers.TeacherController.Index), nameof(Utal.Icc.Sgm.Areas.DirectorTeacher.Controllers.TeacherController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.DirectorTeacher) })" class="menu-link">
								<span class="menu-text">Profesores</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Course", new { area = nameof(Utal.Icc.Sgm.Areas.DirectorTeacher) })" class="menu-link">
								<span class="menu-text">Cursos</span>
							</a>
						</div>
					</div>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.CommitteeTeacher))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-people-line"></i></span>
						<span class="menu-text">Profesor del comité</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Request", new { area = nameof(Roles.CommitteeTeacher) })" class="menu-link">
								<span class="menu-text">Solicitudes</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", nameof(Roles.Teacher), new { area = nameof(Roles.CommitteeTeacher) })" class="menu-link">
								<span class="menu-text">Profesores</span>
							</a>
						</div>
					</div>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.CourseTeacher))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-person-chalkboard"></i></span>
						<span class="menu-text">Profesor del curso</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Course", new { area = nameof(Roles.CourseTeacher) })" class="menu-link">
								<span class="menu-text">Mis cursos</span>
							</a>
						</div>
					</div>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.GuideTeacher))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-user-tie"></i></span>
						<span class="menu-text">Profesor guía</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action(nameof(Utal.Icc.Sgm.Areas.GuideTeacher.Controllers.StudentProposalController.Index), nameof(Utal.Icc.Sgm.Areas.GuideTeacher.Controllers.StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.GuideTeacher) })" class="menu-link">
								<span class="menu-text">Propuestas de estudiantes</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action(nameof(Utal.Icc.Sgm.Areas.GuideTeacher.Controllers.GuideTeacherProposalController.Index), nameof(Utal.Icc.Sgm.Areas.GuideTeacher.Controllers.GuideTeacherProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.GuideTeacher) })" class="menu-link">
								<span class="menu-text">Mis propuestas</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Request", new { area = nameof(Utal.Icc.Sgm.Areas.DirectorTeacher) })" class="menu-link">
								<span class="menu-text">Nuestras solicitudes</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", nameof(Roles.ThesisStudent), new { area = nameof(Utal.Icc.Sgm.Areas.DirectorTeacher) })" class="menu-link">
								<span class="menu-text">Mis memoristas</span>
							</a>
						</div>
					</div>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.AssistantTeacher))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-user-tie"></i></span>
						<span class="menu-text">Profesor co-guía</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action("Index", nameof(Roles.ThesisStudent), new { area = nameof(Roles.AssistantTeacher) })" class="menu-link">
								<span class="menu-text">Mis memoristas</span>
							</a>
						</div>
					</div>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.EngineerStudent))) {
				<div class="menu-item">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
						<span class="menu-text">Ingeniero Civil en Computación</span>
					</a>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.CompletedStudent))) {
				<div class="menu-item">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
						<span class="menu-text">Carrera completada</span>
					</a>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.ThesisStudent))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
						<span class="menu-text">Memorista</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Thesis", new { area = nameof(Roles.ThesisStudent) })" class="menu-link">
								<span class="menu-text">Mi memoria de título</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Course", new { area = nameof(Roles.ThesisStudent) })" class="menu-link">
								<span class="menu-text">Mi curso</span>
							</a>
						</div>
					</div>
				</div>
			}
			@if (this.User.IsInRole(nameof(Roles.Student))) {
				<div class="menu-item has-sub">
					<a href="#" class="menu-link">
						<span class="menu-icon"><i class="fa fa-user-graduate"></i></span>
						<span class="menu-text">Estudiante</span>
						<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="@this.Url.Action(nameof(Utal.Icc.Sgm.Areas.Student.Controllers.StudentProposalController.Index), nameof(StudentProposal), new { area = nameof(Utal.Icc.Sgm.Areas.Student) })" class="menu-link">
								<span class="menu-text">Mis propuestas</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "GuideTeacherProposal", new { area = nameof(Utal.Icc.Sgm.Areas.Student) })" class="menu-link">
								<span class="menu-text">Mis postulaciones</span>
							</a>
						</div>
						<div class="menu-item">
							<a href="@this.Url.Action("Index", "Request", new { area = nameof(Utal.Icc.Sgm.Areas.Student) })" class="menu-link">
								<span class="menu-text">Nuestras solicitudes</span>
							</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
</div>