@using Utal.Icc.Sgm.Areas.Student.Views.StudentProposal
@using Utal.Icc.Sgm.Areas.Student.Controllers

@model ConvertViewModel

@{
	this.ViewData["Title"] = "Convertir propuesta a solicitud para el comité";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					<h5 class="card-title text-center">Estás a punto de <b class="text-success">convertir</b> tu propuesta en una <b>solicitud</b> para el <b>comité</b>. Revisa la información y una vez listo, presiona el botón de <b class="text-success">"Convertir"</b>.</h5>
					@using (this.Html.BeginForm(nameof(StudentProposalController.Convert), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) })) {
						@this.Html.AntiForgeryToken()
						@this.Html.HiddenFor(m => m.Id)
						<div class="row">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Title, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.Title)
									@this.Html.DisplayFor(m => m.Title, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Description, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.Description)
									@this.Html.DisplayFor(m => m.Description, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherName, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.GuideTeacherName)
									@this.Html.DisplayFor(m => m.GuideTeacherName, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherOffice, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.GuideTeacherOffice)
									@this.Html.DisplayFor(m => m.GuideTeacherOffice, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherSchedule, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.GuideTeacherSchedule)
									@this.Html.DisplayFor(m => m.GuideTeacherSchedule, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherSpecialization, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.GuideTeacherSpecialization)
									@this.Html.DisplayFor(m => m.GuideTeacherSpecialization, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeacher1, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.AssistantTeacher1)
									@this.Html.DisplayFor(m => m.AssistantTeacher1, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeacher2, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.AssistantTeacher2)
									@this.Html.DisplayFor(m => m.AssistantTeacher2, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeacher3, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.AssistantTeacher3)
									@this.Html.DisplayFor(m => m.AssistantTeacher3, new { @class = "form-control" })
								</div>
								<hr />
								<div class="form-group mb-3 text-muted">
									@this.Html.LabelFor(m => m.CreatedAt, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.CreatedAt)
									@this.Html.DisplayFor(m => m.CreatedAt, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3 text-muted">
									@this.Html.LabelFor(m => m.UpdatedAt, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.UpdatedAt)
									@this.Html.DisplayFor(m => m.UpdatedAt, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Cancelar", nameof(StudentProposalController.Index), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-success">Convertir</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>