@using Utal.Icc.Sgm.ViewModels
@using Utal.Icc.Sgm.Areas.Student.Controllers
@using static Utal.Icc.Sgm.Models.ApplicationUser

@model StudentProposalViewModel

@{
	this.ViewData["Title"] = "Crear propuesta";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm(nameof(StudentProposalController.Create), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) })) {
						@this.Html.AntiForgeryToken()
						<div class="row">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Title, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Title, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Description, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Description, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherName, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.GuideTeacherId)
									@this.Html.DisplayFor(m => m.GuideTeacherName, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherEmail, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.GuideTeacherEmail, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherOffice, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.GuideTeacherOffice, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherSchedule, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.GuideTeacherSchedule, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherSpecialization, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.GuideTeacherSpecialization, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeachers, new { @class = "form-label" }):
									@this.Html.ListBoxFor(m => m.AssistantTeachers, new MultiSelectList((IEnumerable<SelectListItem>)this.ViewData[$"{nameof(Roles.AssistantTeacher)}s"]!, "Value", "Text"), new { @class = "form-select", @multiple = "multiple" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Volver", nameof(StudentProposalController.GuideTeacher), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-success">Crear</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>