@using Utal.Icc.Sgm.Areas.Student.Views.StudentProposal
@using Utal.Icc.Sgm.Areas.Student.Controllers

@model CreateViewModel

@{
	this.ViewData["Title"] = "Crear propuesta";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm(nameof(StudentProposalController.Create), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) })) {
						@this.Html.AntiForgeryToken()
						<div class="row was-validated">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Title, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Title, new { @class = "form-control", @required = "required" })
									@this.Html.ValidationMessageFor(m => m.Title, "Título requerido", new { @class = "invalid-feedback" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Description, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Description, new { @class = "form-control", @required = "required" })
									@this.Html.ValidationMessageFor(m => m.Description, "Descripción requerida", new { @class = "invalid-feedback" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacher, new { @class = "form-label" })
									@this.Html.HiddenFor(m => m.GuideTeacherId)
									@this.Html.HiddenFor(m => m.GuideTeacher)
									@this.Html.DisplayFor(m => m.GuideTeacher, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherEmail, new { @class = "form-label" })
									@this.Html.HiddenFor(m => m.GuideTeacherEmail)
									@this.Html.DisplayFor(m => m.GuideTeacherEmail, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherOffice, new { @class = "form-label" })
									@this.Html.HiddenFor(m => m.GuideTeacherOffice)
									@this.Html.DisplayFor(m => m.GuideTeacherOffice, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherSchedule, new { @class = "form-label" })
									@this.Html.HiddenFor(m => m.GuideTeacherSchedule)
									@this.Html.DisplayFor(m => m.GuideTeacherSchedule, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacherSpecialization, new { @class = "form-label" })
									@this.Html.HiddenFor(m => m.GuideTeacherSpecialization)
									@this.Html.DisplayFor(m => m.GuideTeacherSpecialization, new { @class = "form-control", @required = "required" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeachers, new { @class = "form-label" })
									@this.Html.ListBoxFor(m => m.AssistantTeachers, new MultiSelectList((IEnumerable<SelectListItem>)this.ViewData["AssistantTeachers"]!), new { @class = "form-select", @multiple = "multiple" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Volver", nameof(StudentProposalController.GuideTeacher), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-success">Crear</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>