@using Utal.Icc.Sgm.ViewModels
@using Utal.Icc.Sgm.Areas.Student.Controllers

@model ProposalViewModel

@{
	this.ViewData["Title"] = "Eliminar propuesta";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="card">
		<div class="card-header text-center">@this.ViewData["Title"]</div>
		<div class="card-body text-center">
			@using (this.Html.BeginForm(nameof(StudentProposalController.Delete), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) })) {
				<h5 class="card-title mb-3">¿Estás seguro que quieres eliminar esta propuesta?</h5>
				@this.Html.AntiForgeryToken()
				@this.Html.HiddenFor(m => m.Id)
				<h6 class="card-subtitle mb-3 text-muted text-center">@this.Html.DisplayFor(m => m.Title)</h6>
				<div>
					@this.Html.ActionLink("Cancelar", nameof(StudentProposalController.Index), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-secondary" })
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</div>
			}
		</div>
	</div>
</div>