@using Utal.Icc.Sgm
@using Utal.Icc.Sgm.Models
@using Utal.Icc.Sgm.Areas.Student.Views.StudentProposal
@using Utal.Icc.Sgm.Views.Shared
@using Utal.Icc.Sgm.Areas.Student.Controllers

@model PaginatedList<IndexViewModel>

@{
	this.ViewData["Title"] = "Mis propuestas";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-12 col-md-10 mb-3">
			<h2>@this.ViewData["Title"]</h2>
		</div>
		<div class="col-12 col-md-2 mb-3">
			@this.Html.ActionLink("Crear propuesta", nameof(StudentProposalController.GuideTeacher), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-success"})
		</div>
		<div class="col-12 mb-3">
			<partial name="_Filter" , model=@(new FilterPartialViewModel(nameof(StudentProposalController.Index), nameof(StudentProposalController).Replace("Controller", string.Empty), nameof(Utal.Icc.Sgm.Areas.Student))) />
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="table-dark">
						<tr>
							<th>
								<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["TitleSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									Título
								</a>
							</th>
							<th>
								<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["GuideTeacherSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									Profesor guía
								</a>
							</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in this.Model) {
							<tr>
								<td>@item.Title</td>
								<td>@item.GuideTeacherName</td>
								<td>
									@switch (item.ProposalStatus) {
										case nameof(StudentProposal.Status.Draft):
											<span class="badge bg-secondary">Borrador</span>
											break;
										case nameof(StudentProposal.Status.SentToGuideTeacher):
											<span class="badge bg-primary">Enviada</span>
											break;
										case nameof(StudentProposal.Status.ApprovedByGuideTeacher):
											<span class="badge bg-success">Aceptada</span>
											break;
										case nameof(StudentProposal.Status.RejectedByGuideTeacher):
											<span class="badge bg-danger">Rechazada</span>
											break;
									}
								</td>
								<td>
									@if (item.ProposalStatus == nameof(StudentProposal.Status.Draft)) {
										@this.Html.ActionLink("Editar", nameof(StudentProposalController.Edit), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student), id = item.Id }, new { @class = "btn btn-yellow mb-3"})
										@this.Html.ActionLink("Eliminar", nameof(StudentProposalController.Delete), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student), id = item.Id }, new { @class = "btn btn-danger mb-3"})
										@this.Html.ActionLink("Enviar", nameof(StudentProposalController.Send), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student), id = item.Id }, new { @class = "btn btn-primary mb-3"})
									} else if (item.ProposalStatus == nameof(StudentProposal.Status.SentToGuideTeacher)) {
										<p class="text-muted">Debes esperar a que el profesor guía apruebe o rechace esta propuesta.</p>
									} else if (item.ProposalStatus == nameof(StudentProposal.Status.ApprovedByGuideTeacher)) {
										@this.Html.ActionLink("Convertir", nameof(StudentProposalController.Convert), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student), id = item.Id }, new { @class = "btn btn-success mb-3"})
									} else if (item.ProposalStatus == nameof(StudentProposal.Status.RejectedByGuideTeacher)) {
										@this.Html.ActionLink("Ver razón", nameof(StudentProposalController.ViewRejectionReason), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student), id = item.Id }, new { @class = "btn btn-danger mb-3"})
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
				@{
					var prevDisabled = !this.Model.HasPreviousPage ? "disabled" : "";
					var nextDisabled = !this.Model.HasNextPage ? "disabled" : "";
				}
				<ul class="pagination mb-0">
					<li class="page-item @prevDisabled">
						<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(this.Model.PageIndex - 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
							Anterior página
						</a>
					</li>
					@for (var i = 0; i < this.Model.TotalPages; i++) {
						<li class="page-item @(i + 1 == this.Model.PageIndex ? " active" : "")">
							<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(i + 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
								@(i + 1)
							</a>
						</li>
					}
					<li class="page-item @nextDisabled">
						<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(this.Model.PageIndex + 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
							Siguiente página
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>