@using Utal.Icc.Sgm.ViewModels
@using Utal.Icc.Sgm.Areas.GuideTeacher.Controllers

@model StudentProposalViewModel

@{
	this.ViewData["Title"] = "Ver rechazo de la propuesta";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm()) {
						<div class="row">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Title, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.Title, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Description, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.Description, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.WhoRejected, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.WhoRejected, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.RejectionReason, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.RejectionReason, new { @class = "form-control" })
								</div>
								<hr />
								<div class="form-group mb-3 text-muted">
									@this.Html.HiddenFor(m => m.CreatedAt)
									@this.Html.LabelFor(m => m.CreatedAt, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.CreatedAt, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3 text-muted">
									@this.Html.HiddenFor(m => m.UpdatedAt)
									@this.Html.LabelFor(m => m.UpdatedAt, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.UpdatedAt, new { @class = "form-control" })
								</div>
								<div class="row text-center">
									<div class="col">
										<div class="btn-group">
											@this.Html.ActionLink("Volver", nameof(StudentProposalController.Index), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-secondary" })
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>