@using Utal.Icc.Sgm.Areas.Administrator.Views.DirectorTeacher

@model ToggleViewModel

@{
	this.ViewData["Title"] = "Establecer rol de director de carrera";
}

<div class="container">
	@if (this.ViewBag.SuccessMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-success" role="alert">
				@this.ViewBag.SuccessMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-warning" role="alert">
				@this.ViewBag.WarningMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessages is not null) {
		@foreach (var warning in this.ViewBag.WarningMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.ViewBag.ErrorMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-danger" role="alert">
				@this.ViewBag.ErrorMessage
			</div>
		</div>
	}
	@if (this.ViewBag.ErrorMessages is not null) {
		@foreach (var error in this.ViewBag.ErrorMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">Establecer rol de director de carrera</div>
				<div class="card-body text-center">
					@* TODO: This thing crashes when POST
					@if (this.Model.IsDirectorTeacher) {
						<p class="card-text">¿Deseas que <b>@this.Html.DisplayFor(m => m.Email)</b> deje de ser director de carrera?</p>
					} else {
						<p class="card-text">¿Deseas que <b>@this.Html.DisplayFor(m => m.Email)</b> sea director de carrera?</p>
					}*@
					@using (this.Html.BeginForm("Toggle", "DirectorTeacher", new { area = "Administrator" })) {
						@this.Html.AntiForgeryToken()
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("No", "Index", "DirectorTeacher", new { area = "Administrator" }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-primary">Sí</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>