@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@using Utal.Icc.Sgm
@using Utal.Icc.Sgm.Data
@using Utal.Icc.Sgm.Models
@using Utal.Icc.Sgm.ViewModels
@using Utal.Icc.Sgm.ViewModels.Shared

@model Paginator<MemoirViewModel>

@inject ApplicationDbContext _dbContext
@inject UserManager<ApplicationUser> _userManager

@{
	this.ViewData["Title"] = "Mis postulaciones";
	var user = await this._userManager.GetUserAsync(this.User);
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-12 mb-3">
			<h2>@this.ViewData["Title"]</h2>
		</div>
		<div class="col-12 mb-3">
			<partial name="_Filter", model=@(new FilterPartialViewModel("Applications", "Proposal", "University")) />
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="table-dark">
						<tr>
							<th>
								<a asp-action="Applications" asp-route-sortOrder="@this.ViewData["TitleSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									Título
								</a>
							</th>
							<th>
								<a asp-action="Applications" asp-route-sortOrder="@this.ViewData["GuideNameSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									<span>Profesor guía</span>
								</a>
							</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in this.Model) {
							<tr>
								<td>@item.Title</td>
								<td>@item.GuideName</td>
								<td>
									@{
										var memoir = this._dbContext.Memoirs!.Include(m => m.Memorist).Include(m => m.Candidates).FirstOrDefault(m => m.Id == item.Id);
									}
									@if (memoir!.Phase == Phase.PublishedByGuide && memoir!.Candidates!.Any(u => u!.Id == user!.Id)) {
										<span class="badge bg-primary">Postulado</span>
									} else if (memoir.Memorist is not null && memoir.Memorist.Id == user!.Id) {
										<span class="badge bg-success">Aprobada</span>
									} else {
										<span class="badge bg-danger">Rechazada</span>
									}
								</td>
								<td>
									@this.Html.ActionLink("Ver", "View", "Proposal", new { area = "University", id = item.Id }, new { @class = "btn btn-primary mb-3"})
								</td>
							</tr>
						}
					</tbody>
				</table>
				<partial name="_Paginator", model=@(new PaginatorPartialViewModel("Applications", this.Model.PageIndex, this.Model.TotalPages, this.Model.HasPreviousPage, this.Model.HasNextPage)) />
			</div>
		</div>
	</div>
</div>