@using Utal.Icc.Sgm.Areas.DirectorTeacher.Views.Teacher

@model DeleteViewModel

@{
	this.ViewData["Title"] = "Eliminar profesor";
}

<div class="container">
	<div class="card">
		<div class="card-header text-center">@this.ViewData["Title"]</div>
		<div class="card-body text-center">
			@using (this.Html.BeginForm("Delete", "Teacher", new { area = "DirectorTeacher" })) {
				<h5 class="card-title">¿Estás seguro que quieres eliminar a este profesor?</h5>
				@this.Html.AntiForgeryToken()
				@this.Html.HiddenFor(m => m.Id)
				<h6 class="card-subtitle mb-3 text-muted">@this.Html.DisplayFor(m => m.Email)</h6>
				<div>
					@this.Html.ActionLink("Volver al inicio", "Index", "Teacher", new { area = "DirectorTeacher" }, new { @class = "btn btn-secondary" })
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</div>
			}
		</div>
	</div>
</div>