@using Microsoft.AspNetCore.Identity

@using Utal.Icc.Sgm.Areas.DirectorTeacher.Views.Teacher
@using static Utal.Icc.Sgm.Models.ApplicationUser

@model EditViewModel

@{
	this.ViewData["Title"] = "Editar profesor";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm("Edit", nameof(Roles.Teacher), new { area = nameof(Roles.DirectorTeacher) })) {
						@this.Html.AntiForgeryToken()
						@this.Html.HiddenFor(m => m.Id)
						<div class="row was-validated">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.LastName, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Rut, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Rut, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Email, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								</div>
								<p><strong>Roles</strong></p>
								<div class="form-check mb-3">
									@this.Html.LabelFor(m => m.IsGuideTeacher, new { @class = "form-check-label" })
									@this.Html.CheckBoxFor(m => m.IsGuideTeacher, new { @class = "form-check-input" })
								</div>
								<div class="form-check mb-3">
									@this.Html.LabelFor(m => m.IsAssistantTeacher, new { @class = "form-check-label" })
									@this.Html.CheckBoxFor(m => m.IsAssistantTeacher, new { @class = "form-check-input" })
								</div>
								<div class="form-check mb-3">
									@this.Html.LabelFor(m => m.IsCourseTeacher, new { @class = "form-check-label" })
									@this.Html.CheckBoxFor(m => m.IsCourseTeacher, new { @class = "form-check-input" })
								</div>
								<div class="form-check mb-3">
									@this.Html.LabelFor(m => m.IsCommitteeTeacher, new { @class = "form-check-label" })
									@this.Html.CheckBoxFor(m => m.IsCommitteeTeacher, new { @class = "form-check-input" })
								</div>
								<hr />
								<div class="form-group mb-3 text-muted">
									@this.Html.LabelFor(m => m.CreatedAt, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.CreatedAt)
									@this.Html.DisplayFor(m => m.CreatedAt, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3 text-muted">
									@this.Html.LabelFor(m => m.UpdatedAt, new { @class = "form-label" }):
									@this.Html.HiddenFor(m => m.UpdatedAt)
									@this.Html.DisplayFor(m => m.UpdatedAt, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Cancelar", "Index", nameof(Roles.Teacher), new { area = nameof(Roles.DirectorTeacher) }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-yellow">Editar</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>