@using Utal.Icc.Sgm.Areas.DirectorTeacher.Views.Teacher

@model TransferViewModel

@{
	this.ViewData["Title"] = "Transferir rol del director de carrera";
}

<div class="container">
	@if (this.ViewBag.SuccessMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-success" role="alert">
				@this.ViewBag.SuccessMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-warning" role="alert">
				@this.ViewBag.WarningMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessages is not null) {
		@foreach (var warning in this.ViewBag.WarningMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.ViewBag.ErrorMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-danger" role="alert">
				@this.ViewBag.ErrorMessage
			</div>
		</div>
	}
	@if (this.ViewBag.ErrorMessages is not null) {
		@foreach (var error in this.ViewBag.ErrorMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	@if (this.ViewBag.ErrorMessages2 is not null) {
		@foreach (var error in this.ViewBag.ErrorMessages2) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body text-center">
					<p>¿Deseas transferir el rol de <b>director de carrera</b> al usuario <b>@this.Html.DisplayFor(m => m.Email)</b>?</p>
					@using (this.Html.BeginForm("Transfer", "Teacher", new { area = "DirectorTeacher" })) {
						@this.Html.AntiForgeryToken()
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("No", "Index", "Teacher", new { area = "DirectorTeacher" }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-primary">Sí</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>