@using Utal.Icc.Sgm.Areas.Role.ViewModels;

@model List<RolesPlaygroundViewModel>

@{
	ViewData["Title"] = "Roles de los Usuarios";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles de los Usuarios</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Correo electrónico</th>
			<th>Roles</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model) {
			<tr>
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@user.Email</td>
				<td>@string.Join(", ", user.Roles!.ToList())</td>
				<td>
					<a class="btn btn-primary" asp-area="Role" asp-controller="Playground" asp-action="Manage" asp-route-userId="@user.UserId">Gestionar roles</a>
				</td>
			</tr>
		}
	</tbody>
</table>