@using Utal.Icc.Sgm.Areas.Account.Views.Profile

@model IndexViewModel

@{
	this.ViewData["Title"] = "Mi información";
}

<div class="container">
	@if (this.TempData["SuccessMessage"] is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-success" role="alert">
				@this.TempData["SuccessMessage"]
			</div>
		</div>
	}
	@if (this.TempData["SuccessMessages"] is not null) {
		@foreach (var success in (IEnumerable<string>)this.TempData["SuccessMessages"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-success" role="alert">
					@success
				</div>
			</div>
		}
	}
	@if (this.TempData["SuccessMessages1"] is not null) {
		@foreach (var success in (IEnumerable<string>)this.TempData["SuccessMessages1"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-success" role="alert">
					@success
				</div>
			</div>
		}
	}
	@if (this.TempData["SuccessMessages2"] is not null) {
		@foreach (var success in (IEnumerable<string>)this.TempData["SuccessMessages2"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-success" role="alert">
					@success
				</div>
			</div>
		}
	}
	@if (this.TempData["WarningMessage"] is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-warning" role="alert">
				@this.TempData["WarningMessage"]
			</div>
		</div>
	}
	@if (this.TempData["WarningMessages"] is not null) {
		@foreach (var warning in (IEnumerable<string>)this.TempData["WarningMessages"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.TempData["WarningMessages1"] is not null) {
		@foreach (var warning in (IEnumerable<string>)this.TempData["WarningMessages1"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.TempData["WarningMessages2"] is not null) {
		@foreach (var warning in (IEnumerable<string>)this.TempData["WarningMessages2"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.TempData["ErrorMessage"] is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-danger" role="alert">
				@this.TempData["ErrorMessage"]
			</div>
		</div>
	}
	@if (this.TempData["ErrorMessages"] is not null) {
		@foreach (var error in (IEnumerable<string>)this.TempData["ErrorMessages"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	@if (this.TempData["ErrorMessages1"] is not null) {
		@foreach (var error in (IEnumerable<string>)this.TempData["ErrorMessages1"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	@if (this.TempData["ErrorMessages2"] is not null) {
		@foreach (var error in (IEnumerable<string>)this.TempData["ErrorMessages2"]!) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.FirstName)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.FirstName)
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.LastName)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.LastName)
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.Rut)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.Rut)
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.Email)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.Email)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>