@using Utal.Icc.Sgm.Areas.Account.Views.Profile

@model IndexViewModel

@{
	this.ViewData["Title"] = "Mi información";
}

<div class="container">
	@if (this.ViewBag.SuccessMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-success" role="alert">
				@this.ViewBag.SuccessMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-warning" role="alert">
				@this.ViewBag.WarningMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessages is not null) {
		@foreach (var warning in this.ViewBag.WarningMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.ViewBag.ErrorMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-danger" role="alert">
				@this.ViewBag.ErrorMessage
			</div>
		</div>
	}
	@if (this.ViewBag.ErrorMessages is not null) {
		@foreach (var error in this.ViewBag.ErrorMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.FirstName)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.FirstName)
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.LastName)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.LastName)
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.Rut)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.Rut)
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							<b>@this.Html.LabelFor(m => m.Email)</b>
						</div>
						<div class="col-sm-12 col-md-6 mb-3">
							@this.Html.DisplayFor(m => m.Email)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>