@using Utal.Icc.Sgm.ViewModels
@using Utal.Icc.Sgm.Areas.Account.Controllers

@model ApplicationUserViewModel

@{
	this.ViewData["Title"] = "Mi perfil de estudiante";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm(nameof(ProfileController.Student), nameof(ProfileController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) })) {
						@this.Html.AntiForgeryToken()
						<div class="row">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.StudentUniversityId, new { @class = "form-label" }):
									@this.Html.DisplayFor(m => m.StudentUniversityId, new { @class = "form-control" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.StudentRemainingCourses, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.StudentRemainingCourses, new { @class = "form-control" })
								</div>
								<div class="form-check mb-3">
									@this.Html.LabelFor(m => (bool)m.StudentIsDoingThePractice!, new { @class = "form-check-label" })
									@this.Html.CheckBoxFor(m => (bool)m.StudentIsDoingThePractice!, new { @class = "form-check-input" })
								</div>
								<div class="form-check mb-3">
									@this.Html.LabelFor(m => (bool)m.StudentIsWorking!, new { @class = "form-check-label" })
									@this.Html.CheckBoxFor(m => (bool)m.StudentIsWorking!, new { @class = "form-check-input" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Cancelar", nameof(ProfileController.Index), nameof(ProfileController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Account) }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-primary">Actualizar perfil</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>