@using Microsoft.AspNetCore.Identity

@using Utal.Icc.Sgm.Areas.DirectorTeacher.Views.Student

@model InputViewModel

@{
	this.ViewData["Title"] = "Importar estudiantes desde CSV";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm("Create", "Student", new { area = "DirectorTeacher" }, FormMethod.Post, true, new { @enctype = "multipart/form-data" })) {
						<div class="row was-validated">
							<div class="col">
								<div class="mb-3">
									@this.Html.LabelFor(m => m.CsvFile, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.CsvFile, new { @class = "form-control", @required = "required", @type = "file" })
									@this.Html.ValidationMessageFor(m => m.CsvFile, "Archivo CSV requerido", new { @class = "invalid-feedback" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Volver al inicio", "Index", "Student", new { area = "DirectorTeacher" }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-primary">Importar</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>