@using Utal.Icc.Sgm.Areas.DirectorTeacher.Views.Student

@model ToggleActivationViewModel

@{
	this.ViewData["Title"] = !this.Model.IsDeactivated ? "Desactivar estudiante" : "Activar estudiante";
}

<div class="container">
	<div class="card">
		<div class="card-header text-center">@this.ViewData["Title"]</div>
		<div class="card-body text-center">
			@using (this.Html.BeginForm("ToggleActivation", "Student", new { area = "DirectorTeacher" })) {
				@if (!this.Model.IsDeactivated) {
					<h5 class="card-title">¿Estás seguro que quieres <b class="text-danger">desactivar</b> a este estudiante?</h5>
				} else {
					<h5 class="card-title">¿Estás seguro que quieres <b class="text-success">activar</b> a este estudiante?</h5>
				}
				@this.Html.AntiForgeryToken()
				@this.Html.HiddenFor(m => m.Id)
				@this.Html.HiddenFor(m => m.Email)
				@this.Html.HiddenFor(m => m.IsDeactivated)
				<h6 class="card-subtitle mb-3 text-muted">@this.Html.DisplayFor(m => m.Email)</h6>
				<div>
					@this.Html.ActionLink("Volver al inicio", "Index", "Student", new { area = "DirectorTeacher" }, new { @class = "btn btn-secondary" })
					@if (!this.Model.IsDeactivated) {
						<button type="submit" class="btn btn-danger">Desactivar</button>
					} else {
						<button type="submit" class="btn btn-success">Activar</button>
					}
				</div>
			}
		</div>
	</div>
</div>