@using Microsoft.AspNetCore.Identity

@using Utal.Icc.Sgm.Areas.Student.Views.Proposal

@model CreateViewModel

@{
	this.ViewData["Title"] = "Crear propuesta de memoria de título";
}

<div class="container">
	@if (this.ViewBag.WarningMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-warning" role="alert">
				@this.ViewBag.WarningMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessages is not null) {
		@foreach (var warning in this.ViewBag.WarningMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body">
					@using (this.Html.BeginForm("Create", "Proposal", new { area = "Student" })) {
						@this.Html.AntiForgeryToken()
						<div class="row was-validated">
							<div class="col">
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Title, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Title, new { @class = "form-control", @required = "required" })
									@this.Html.ValidationMessageFor(m => m.Title, "Título requerido", new { @class = "invalid-feedback" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.Description, new { @class = "form-label" })
									@this.Html.TextBoxFor(m => m.Description, new { @class = "form-control", @required = "required" })
									@this.Html.ValidationMessageFor(m => m.Description, "Descripción requerida", new { @class = "invalid-feedback" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.GuideTeacher, new { @class = "form-label" })
									@this.Html.DropDownListFor(m => m.GuideTeacher, (IEnumerable<SelectListItem>)this.ViewData["GuideTeachers"]!, "Seleccionar profesor guía", new { @class = "form-select", @required = "required" })
									@this.Html.ValidationMessageFor(m => m.GuideTeacher, "Profesor guía requerido", new { @class = "invalid-feedback" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeacher1, new { @class = "form-label" })
									@this.Html.DropDownListFor(m => m.AssistantTeacher1, (IEnumerable<SelectListItem>)this.ViewData["AssistantTeachers1"]!, "Seleccionar primer profesor co-guía", new { @class = "form-select" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeacher2, new { @class = "form-label" })
									@this.Html.DropDownListFor(m => m.AssistantTeacher2, (IEnumerable<SelectListItem>)this.ViewData["AssistantTeachers2"]!, "Seleccionar segundo profesor co-guía", new { @class = "form-select" })
								</div>
								<div class="form-group mb-3">
									@this.Html.LabelFor(m => m.AssistantTeacher3, new { @class = "form-label" })
									@this.Html.DropDownListFor(m => m.AssistantTeacher3, (IEnumerable<SelectListItem>)this.ViewData["AssistantTeachers3"]!, "Seleccionar tercer profesor co-guía", new { @class = "form-select" })
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("Cancelar", "Index", "Proposal", new { area = "Student" }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-primary">Crear</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>