@using Utal.Icc.Sgm
@using Utal.Icc.Sgm.Areas.Student.Views.Proposal

@model PaginatedList<IndexViewModel>

@{
	this.ViewData["Title"] = "Gestionar mis propuestas de memoria de título a profesores";
}

<div class="container">
	@if (this.ViewBag.SuccessMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-success" role="alert">
				@this.ViewBag.SuccessMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-warning" role="alert">
				@this.ViewBag.WarningMessage
			</div>
		</div>
	}
	@if (this.ViewBag.WarningMessages is not null) {
		@foreach (var warning in this.ViewBag.WarningMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-warning" role="alert">
					@warning
				</div>
			</div>
		}
	}
	@if (this.ViewBag.ErrorMessage is not null) {
		<div class="row justify-content-center">
			<div class="alert alert-danger" role="alert">
				@this.ViewBag.ErrorMessage
			</div>
		</div>
	}
	@if (this.ViewBag.ErrorMessages is not null) {
		@foreach (var error in this.ViewBag.ErrorMessages) {
			<div class="row justify-content-center">
				<div class="alert alert-danger" role="alert">
					@error
				</div>
			</div>
		}
	}
	<div class="row justify-content-center">
		<div class="col-12 col-md-10 mb-3">
			<h2>@this.ViewData["Title"]</h2>
		</div>
		<div class="col-12 col-md-2 mb-3">
			@this.Html.ActionLink("Crear propuesta", "Create", "Proposal", new { area = "Student" }, new { @class = "btn btn-success"})
		</div>
		<div class="col-12 mb-3">
			<partial name="_Filter" , model="@new FilterPartialViewModel()" />
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="table-dark">
						<tr>
							<th>
								<a asp-action="Index" asp-route-sortOrder="@this.ViewData["TitleSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									Título
								</a>
							</th>
							<th>¿Es borrador?</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in this.Model) {
							<tr>
								<td>@item.Title</td>
								<td>@if (item.IsDraft) {
										<span class="badge bg-secondary">Borrador</span>
									} else {
										<span class="badge bg-success">Enviado</span>
									}
								</td>
								<td>
									@this.Html.ActionLink("Editar", "Edit", "Proposal", new { area = "Student", id = item.Id }, new { @class = "btn btn-yellow mb-3"})
									@this.Html.ActionLink("Eliminar", "Delete", "Proposal", new { area = "Student", id = item.Id }, new { @class = "btn btn-danger mb-3"})
									@this.Html.ActionLink("Enviar a profesor", "SendToTeacher", "Proposal", new { area = "Student", id = item.Id }, new { @class = "btn btn-danger mb-3"})
								</td>
							</tr>
						}
					</tbody>
				</table>
				@{
					var prevDisabled = !this.Model.HasPreviousPage ? "disabled" : "";
					var nextDisabled = !this.Model.HasNextPage ? "disabled" : "";
				}
				<ul class="pagination mb-0">
					<li class="page-item @prevDisabled">
						<a asp-action="Index" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(this.Model.PageIndex - 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
							Anterior página
						</a>
					</li>
					@for (var i = 0; i < this.Model.TotalPages; i++) {
						<li class="page-item @(i + 1 == this.Model.PageIndex ? " active" : "")">
							<a asp-action="Index" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(i + 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
								@(i + 1)
							</a>
						</li>
					}
					<li class="page-item @nextDisabled">
						<a asp-action="Index" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(this.Model.PageIndex + 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
							Siguiente página
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>