@using Utal.Icc.Sgm.Areas.GuideTeacher.Views.GuideTeacherProposal
@using Utal.Icc.Sgm.Areas.GuideTeacher.Controllers

@model DeleteViewModel

@{
	this.ViewData["Title"] = "Eliminar propuesta";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="card">
		<div class="card-header text-center">@this.ViewData["Title"]</div>
		<div class="card-body text-center">
			@using (this.Html.BeginForm(nameof(GuideTeacherProposalController.Delete), nameof(GuideTeacherProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.GuideTeacher) })) {
				<h5 class="card-title">¿Estás seguro que quieres eliminar esta propuesta?</h5>
				@this.Html.AntiForgeryToken()
				@this.Html.HiddenFor(m => m.Id)
				@this.Html.HiddenFor(m => m.Title)
				<h6 class="card-subtitle mb-3 text-muted">@this.Html.DisplayFor(m => m.Title)</h6>
				<div>
					@this.Html.ActionLink("Cancelar", nameof(GuideTeacherProposalController.Index), nameof(GuideTeacherProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.GuideTeacher) }, new { @class = "btn btn-secondary" })
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</div>
			}
		</div>
	</div>
</div>