@using Utal.Icc.Sgm.Areas.Student.Views.GuideTeacherProposal
@using Utal.Icc.Sgm.Areas.Student.Controllers

@model SendViewModel

@{
	this.ViewData["Title"] = "Enviar propuesta";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="card">
				<div class="card-header text-center">@this.ViewData["Title"]</div>
				<div class="card-body text-center">
					@using (this.Html.BeginForm(nameof(GuideTeacherProposalController.Send), nameof(GuideTeacherProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) })) {
						@this.Html.AntiForgeryToken()
						@this.Html.HiddenFor(m => m.Id)
						@this.Html.HiddenFor(m => m.Title)
						@this.Html.HiddenFor(m => m.GuideTeacherName)
						<h5 class="card-title">¿Deseas <b class="text-primary">enviar</b> esta propuesta al profesor guía <b>@this.Html.DisplayFor(m => m.GuideTeacherName)</b>?</h5>
						<h6 class="card-subtitle mb-3 text-muted">@this.Html.DisplayFor(m => m.Title)</h6>
						<div class="row text-center">
							<div class="col">
								<div class="btn-group">
									@this.Html.ActionLink("No", nameof(GuideTeacherProposalController.Index), nameof(GuideTeacherProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.Student) }, new { @class = "btn btn-secondary" })
									<button type="submit" class="btn btn-primary">Sí</button>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>