@using Utal.Icc.Sgm
@using Utal.Icc.Sgm.Models
@using Utal.Icc.Sgm.Areas.GuideTeacher.Views.Proposal
@using Utal.Icc.Sgm.Views.Shared
@using Utal.Icc.Sgm.Areas.GuideTeacher.Controllers

@model PaginatedList<IndexViewModel>

@{
	this.ViewData["Title"] = "Propuestas de estudiantes";
}

<div class="container">
	<partial name="_Alerts" />
	<div class="row justify-content-center">
		<div class="col-12 mb-3">
			<h2>@this.ViewData["Title"]</h2>
		</div>
		<div class="col-12 mb-3">
			<partial name="_Filter" , model=@(new FilterPartialViewModel(nameof(StudentProposalController.Index), nameof(StudentProposalController).Replace("Controller", string.Empty), nameof(Utal.Icc.Sgm.Areas.GuideTeacher))) />
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="table-responsive">
				@this.Html.HiddenFor(m => m.ApplicationUserId)
				<table class="table table-bordered">
					<thead class="table-dark">
						<tr>
							<th>
								<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["TitleSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									Título
								</a>
							</th>
							<th>
								<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["StudentSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">
									Estudiante
								</a>
							</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in this.Model) {
							<tr>
								<td>@item.Title</td>
								<td>@item.Student</td>
								<td>
									@switch (item.ProposalStatus) {
										case nameof(StudentProposal.Status.SentToGuideTeacher):
											<span class="badge bg-yellow">Pendiente de revisión</span>
											break;
										case nameof(StudentProposal.Status.ApprovedByGuideTeacher):
											<span class="badge bg-success">Aceptada</span>
											break;
									}
								</td>
								<td>
									@if (item.ProposalStatus == nameof(StudentProposal.Status.SentToGuideTeacher)) {
										@this.Html.ActionLink("Ver", nameof(StudentProposalController.View), nameof(StudentProposalController).Replace("Controller", string.Empty), new { area = nameof(Utal.Icc.Sgm.Areas.GuideTeacher), id = item.Id }, new { @class = "btn btn-yellow mb-3"})
									} else if (item.ProposalStatus == nameof(StudentProposal.Status.ApprovedByGuideTeacher)) {
										<p class="text-muted">El estudiante debe enviar esta propuesta al comité.</p>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
				@{
					var prevDisabled = !this.Model.HasPreviousPage ? "disabled" : "";
					var nextDisabled = !this.Model.HasNextPage ? "disabled" : "";
				}
				<ul class="pagination mb-0">
					<li class="page-item @prevDisabled">
						<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(this.Model.PageIndex - 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
							Anterior página
						</a>
					</li>
					@for (var i = 0; i < this.Model.TotalPages; i++) {
						<li class="page-item @(i + 1 == this.Model.PageIndex ? " active" : "")">
							<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(i + 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
								@(i + 1)
							</a>
						</li>
					}
					<li class="page-item @nextDisabled">
						<a asp-action="@nameof(StudentProposalController.Index)" asp-route-sortOrder="@this.ViewData["CurrentSort"]" asp-route-pageNumber="@(this.Model.PageIndex + 1)" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" class="page-link">
							Siguiente página
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>